@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
    font-family: 'More Sugar';
    src: url('fonts/MoreSugar.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f0fdff;
    margin: 0;
    padding: 0;
}

#logo {
    justify-content: left;
    width: 80px;
    height: 80px;
    border-color: black;
    border-radius: 50%;
    border: 2px solid #0097b2;
}

#img1 {
    width: 400px;
    height: 350px;
    padding: 25px;
}
nav {
    position: relative;
    justify-content: start;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 15px;
    background-color: #0097b2;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: start;
}

nav ul li {
    margin: 0 8px;
}

nav ul li a {
    font-family: "Winky Sans", sans-serif;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #00a8c6;
    border-radius: 5px;
}

div {
    padding: 20px;
}

#patas {
    align-items: center;
    margin-right: 15px;
    width: 30px;
}

h1 {
    font-family: "Winky Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #0097b2;
}

#texto {
    text-align: justify;
    justify-content: center;
    margin-left: 160px;
}

#txt {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

#container {
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}

.servicos {
    border: 3px solid #0097b2;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 290px;
    height: 460px;
}

.titulo_desc {
    font-family: "Winky Sans", sans-serif;
    font-size: 20px;
    color: #0097b2;
    font-weight: bold;
    text-align: center;
}

#insta {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    background-color: #f0fdff;
    text-decoration: none;
    border: none;
    width: 22px;

}

#whats {
    margin-right: 5px;
}

#testewhats {
    position: fixed;
    padding: 12px 18px;
    bottom: 15px;
    right: 15px;
    background-color: rgb(33, 196, 33);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-decoration: none;
}

h1 {
    font-family: "Winky Sans", sans-serif;
    font-size: 55px;
    color: #0097b2;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: "Winky Sans", sans-serif;
    font-size: 35px;
    color: #0097b2;
    font-weight: bold;
    text-align: center;
}

/* Cabeçalho */
h1 {
    font-family: "Winky Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    color: #0097b2;
}

#catalogo {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.produto {
    background-color: #d5f8f8;
    border: 1px solid #002006;
    border-radius: 8px;
    width: 275px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Efeito de hover para dar um zoom nos produtos */
.produto:hover {
    transform: scale(1.05);
}

.produto img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.produto h2 {
    font-size: 1.2em;
    margin: 15px 0;
    color: #111;
}

.produto p {
    font-size: 1em;
    color: #000;
    padding: 0 10px;
}

.produto strong {
    font-size: 1.2em;
    color: #e74c3c;
    margin-top: 10px;
    display: block;
}

/* Apresentação do grupo*/

.alunas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  text-align: center;
  width: 180px;
}

.item img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%; 
  border: 3px solid #0097b2;
  transition: transform 0.3s;
}

.item img:hover {
  transform: scale(1.05);
}
.item h5{
    margin-top: 6px;
}
.item p {
  margin-top: 6px;
  font-size: 16px;
  color: black;
}

#site{
    text-align: center;
    padding: 20px;
    color: black;
    font-size: 20px;
}

.produto h4{
font-size: 18px;
font-weight: bold;
}

.produto h3{
    font-family: "Winky Sans", sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}